* {
  font-family: 'Playfair Display', serif;
}

body {
  overflow-x: hidden;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #415a77;
  align-items: center;
}

nav h1 {
  color: #fff;
  margin-left: 40px;
  font-size: 40px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

nav span {
  cursor: pointer;
  margin-left: 40px;
  font-size: 16px;
  text-transform: uppercase;
}

nav span:hover {
  color: #fff;
  border-bottom: 2px solid #778da9;
  padding-bottom: 5px;
}

span #HomeLight,
#MoviesLight,
#TrendingLight {
  color: #ffffff;
}

span #HomeLight:hover,
#MoviesLight:hover,
#TrendingLight:hover {
  border-bottom: 2px solid #778da9;
}


#navBarColor {
  background-color: rgb(2, 255, 40);
  transition: .6s;
}

#navBarColor span:hover {
  border-bottom: 2px solid #ff206e;
  padding-bottom: 5px;
}

.nav-options {
  display: flex;
  align-items: center;
}

#Color-switcher {
  position: relative;
  margin-right: 40px;
  background-color: #778da9;
  width: 80px;
  height: 40px;
  border-radius: 20px;
}

#Color-switcher-mover {
  position: absolute;
  left: 5px;
  top: 4px;
  background-color: #fff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transition: .6s;
}

#Color-switcher-moved {
  position: absolute;
  background-color: #fff;
  left: 40px;
  top: 4px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transition: .6s;
}

#heading {
  color: #000000;
}

#search {
  position: absolute;
  margin-left: 310px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  position: relative;
  width: 323px;
  height: 4vh;
  border-radius: 16px;
  border: none;
  margin-right: 30px;
}

.input-group input[type='text'] {
  padding-left: 17px;
  font-size: 12px;
  color: black;
  font-style: italic;
}

.input-group input::placeholder {
  color: black;
}

.input-group input:focus {
  outline: none;
}