* {
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
}

body {
  overflow-x: hidden;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #10451d;
  align-items: center;
  border-bottom: 3px solid #174f25;
}

nav h1 {
  color: #fff;
  margin-left: 40px;
  font-size: 35px;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 1);
  /* font-weight: bold; */
}

nav a {
  text-decoration: none;
}

nav span {
  cursor: pointer;
  margin-left: 40px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

nav span:hover {
  color: #4ad66d;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

span #HomeLight,
#MoviesLight,
#TrendingLight,
#PricingLight {
  color: black;
}

span #HomeLight:hover,
#MoviesLight:hover,
#TrendingLight:hover,
#PricingLight:hover {
  border-bottom: 2px solid #fff;
  color: #4ad66d;
}

.navBarColor {
  background-color: #208b3a;
  transition: .6s;
  border-bottom: 3px solid #1a7431;
}

.nav-options {
  display: flex;
  align-items: center;
}

#heading {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.735);
}

#navBarColor span:hover {
  border-bottom: 2px solid #4ad66d;
  padding-bottom: 5px;
}

.logo img {
  margin: 15px -35px 0 10px;
}

.input-group {
  display: flex;
  align-items: center;
}

#Color-switcher {
  position: relative;
  margin-right: 40px;
  background-color: #969696;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: .5px solid black;
  box-shadow: 2px 2px 9px #06190bac;

}

#Color-switcher-mover {
  position: absolute;
  left: 5px;
  top: 4px;
  background-color: #fff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transition: .6s;
}

#Color-switcher-moved {
  position: absolute;
  background-color: #fff;
  left: 40px;
  top: 4px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transition: .6s;
}

.input-group input {
  position: relative;
  width: 323px;
  height: 4vh;
  border-radius: 16px;
  border: none;
  margin-right: 30px;
  border: .5px solid black;

}

.input-group input[type='text'] {
  padding-left: 17px;
  font-size: 15px;
  color: black;
}

.input-group input::placeholder {
  color: black;
}

.input-group input:focus {
  outline: none;
}

#search {
  position: absolute;
  margin-left: 310px;
}

/* #contact {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #10451d;
  align-items: center;
  border-bottom: 3px solid #174f25;
} */