* {
  font-family: 'Playfair Display', serif;
}

body {
  overflow-x: hidden;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainBgColor {
  background-color: #06190b;
  width: 100%;
}

.secondaryBgColor {
  background-color: #d2f7db;
  width: 100%;
}

.movies-container img {
  width: 330px;
  height: 465px;
  margin: 25px 0px 4px 15px;
  border-radius: 18px;
}

.mainColor {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 16px;
  width: 90%;
}

#Nothing {
  display: none;
}

.secondaryColor {
  color: #06190b;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.movies-container h3,
.movies-container img {
  cursor: pointer;
  transition: .7s;
  /* color: #ffffff; */
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.movies-container h3:hover {
  text-decoration: none;
  border-bottom: 4px solid #fff;
  /* Titles Colors */
  color: #4ad66d;
}

.movies-container img:hover {
  transform: scale(1.05);
}

#container {
  position: relative;
}

#hide {
  display: none;
}

#smaller-Text {
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

#playIcon {
  position: absolute;
  bottom: 70px;
  left: 20px;
  visibility: visible;
  z-index: 100;
  cursor: pointer;
}

#Exit1 {
  position: absolute;
  margin-left: 810px;
  margin-top: 67px;
  z-index: 999;
  position: fixed;
}

#Nothing {
  color: none;
}

#NoContainer {
  opacity: 0.35;
}

#DarkTheme {
  color: #dcff15;
}

.LightThemeClose {
  color: #e9ff20;
}